.shopcategory-banner{
    display: block;
    margin: 30px auto;
    width: 82%;

}
.shopcategory-indexSort{
    display: flex;
    margin: 0px 145px;
    justify-content: space-between;
    align-items: center;
}
.shopcategory-indexSort p span{
    font-weight: 600;
}
.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border: 1px solid #888;
}
.shopcategory-products{
    margin: 20px 140px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
    column-gap: 25px;
}

.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.shopcategory-loadmore:hover{
    background-color: #787878;
    color: #ededed;
}






/* Media queiries */

@media(max-width: 1280px){
    .shopcategory-banner{
        margin: 20px auto;
        width: 83%;
    }
    .shopcategory-indexSort{
        width: 83%;
        margin: auto;
    }
    .shopcategory-sort{
        padding: 8px 15px;
        font-size: 14px;
    }
    .shopcategory-indexSort p{
        font-size: 14px;
    }
    .shopcategory-products{
        width: 83%;
        margin: 15px auto;
        row-gap: 60px;
    }
    .shopcategory-products .item{
        margin: auto;
    }
    .shopcategory-loadmore{
        margin: 100px auto;
        width: 200px;
        height: 60px;
        font-size: 16px;
    }
}
@media(max-width: 800px){
    .shopcategory-banner{
        margin: 15px auto;
    }
    .shopcategory-sort{
        padding: 5px 10px;
        font-size: 12px;
    }
    .shopcategory-indexSort p{
        font-size: 12px;
    }
    .shopcategory-products{
        row-gap: 40px;
    }
   
    .shopcategory-loadmore{
        margin: 70px auto;
        width: 150px;
        height: 45px;
        font-size: 14px;
    }
}

@media(max-width: 500px){
    .shopcategory-products{
        grid-template-columns: 1fr 1fr;
    }
}














