.offers{
    display: flex;
    width: 70%;
    height: 60vh;
    margin: auto;
    padding: 40px 100px;
    margin-bottom: 100px;
    background: linear-gradient(180deg, #f79999a1 0%, #e1ffea22 60%); 
}
/* #fde1ff */
.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offers-left h1{
    color: #171717;
    font-size: 62px;
    font-weight: 600;
}
.offers-left p{
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}
.offers-left button{
    width: 270px;
    height: 68px;
    border: 2px solid #ff4141;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.offers-left button:hover{
    background-color: #fff;
    color: #ff4141;
}

.offers-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
}
.offers-right img{
    max-width: 90%;
}







/* Media Queries */
@media(max-width: 1280px){
    .offers{
        padding: 10px 80px;
        margin-bottom: 90px;
    }
    .offers-left h1{
        font-size: 55px;
    }
    .offers-left p{
        font-size: 20px;
    }
    .offers-left button{
        width: 250px;
        height: 60px;
        font-size: 20px;
    }
}
@media(max-width: 1024px){
    .offers{
        padding: 0px 60px;
        margin-bottom: 70px;
        height: 50vh;
    }
    .offers-left h1{
        font-size: 40px;
    }
    .offers-left p{
        font-size: 16px;
    }
    .offers-left button{
        width: 200px;
        height: 50px;
        font-size: 18px;
    }
    .offers-right img{
        max-width: 84%;
        margin-top: -35px;
    }
}
@media(max-width: 800px){
    .offers{
        width: 65%;
        padding: 0px 45px;
        margin-bottom: 60px;
        height: 40vh;
    }
    .offers-left h1{
        font-size: 25px;
    }
    .offers-left p{
        font-size: 12px;
    }
    .offers-left button{
        width: 140px;
        height: 42px;
        font-size: 14px;
        margin-top: 20px;
    }
    .offers-right img{
        max-width: 92%;
        margin-top: -35px;
    }
}
@media(max-width: 500px){
    .offers{
        padding: 0px 35px;
        margin-bottom: 50px;
        height: 28vh;
        width: 65%;
    }
    .offers-left h1{
        font-size: 17px;
    }
    .offers-left p{
        font-size: 8px;
    }
    .offers-left button{
        width: 90px;
        height: 32px;
        font-size: 11px;
        margin-top: 15px;
    }
    .offers-right img{
        max-width: 96%;
        margin-top: -35px;
    }
}










