.navbar{
    box-shadow: 0 1px 3px -2px #777;
    margin-bottom: 1px;
    background: white;
    z-index: 999;
    position: sticky;
    left: 0;
    top: 0;
}
.navbar-container{
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 80px;
    margin: auto;
}
.nav-logo{
    max-width: 200px;
}
.nav-profile{
    max-width: 75px;
}


/* Media Queries */
@media(max-width: 800px){
    .navbar-container{
        padding: 12px 50px;
    }
    .nav-logo{
        max-width: 170px;
    }
    .nav-profile{
        max-width: 60px;
    }
}